:host{
  margin-bottom: 8px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.search-container {
  display: flex;
  align-items: center;
  column-gap: 8px;

  .mat-mdc-form-field {
    width: 100%;
  }

  .mat-icon {
    cursor: pointer;
  }
}
