/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.standard-form-field {
  .mdc-text-field--filled {
    background-color: unset !important;
  }

  .mat-mdc-form-field-focus-overlay {
    display: none;
  }

  .mad-mdc-text-field-wrapper {
    padding-left: 0;
    height: 48px;
  }
}
