<mat-card>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>
        <mat-form-field>
          <mat-label>Input</mat-label>
          <input matInput />
        </mat-form-field>
      </mat-card-title>
      <mat-card-subtitle>{{
        server().active ? "Aktiv" : "Inaktiv"
      }}</mat-card-subtitle>
      <mat-icon
        [ngClass]="server().active ? 'icon-green' : 'icon-red'"
        fontIcon="circle"
      ></mat-icon>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-actions mat-button align="end">
    <button (click)="editMode = !editMode" mat-icon-button>
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>Open [https://github.com/login/device](https://github.com/login/device) in a new tab and paste your one-time code: 6B5F-0F51
