
.icon-green{
    color: green;
}

.icon-red {
    color: red;
}

.w-full{
    width: 100%;
}

.mat-mdc-card-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;

}